
<ul>
	<% @posts.each do |post| %>
  	<li>
  		<%= post.subject %>
  		<%= link_to 'Show', :controller => 'posts', :action => 'show', :id => post %>
  		<%= link_to 'Edit', :controller => 'posts', :action => 'edit', :id => post  %>
  		<%= link_to 'Delete', :controller => 'posts', :action => 'destroy', :id => post, :method => :delete %>
  		</li>
	<% end %>
</ul>

<%= link_to 'New post', :controller => 'posts', :action => 'new' %>
